.form-container{
    font-family: 'Nunito', sans-serif;
    background-color: #dff7df;
    width: 450px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header img{
    width: auto;
    height: 100px;
}

h2{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #124d2c;
    margin-bottom: 10px;
}

p{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #3c5f4b;
    margin-bottom: 30px;
}

label{
    font-family: 'Nunito', sans-serif;
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
}

input[type="text"]{
    width: 100%;
    padding: 10px 14px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 15px;
}

select{
    width: 100%;
    padding: 10px 14px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 15px;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 16px center; /* Move right or left by adjusting the number */
    background-size: 16px 16px;
}

input[type="date"]{
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 14px;
    font-size: 16px;
    color: #333;
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 15px;
}

.form-buttons{
    text-align: center;
    margin-top: 20px;
}

input[type="submit"],
.back-button{
    font-family: 'Nunito', sans-serif;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

input[type="submit"]:hover,
.back-button:hover{
    background-color: #388E3C;
}

input[type="file"] {
    width: 100%;
    padding: 10px 14px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    font-size: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #333;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #388E3C;
}
