header{
    background-color: #3b813e;
    box-shadow: inset 0px -5px 20px 30px rgba(27, 115, 40, 0.552);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 45px;
    position: relative;
    gap:50px;
}